[user]
    name = Lukas Reineke
    email = lukas.reineke@protonmail.com
    signingkey = C03A5FC76BD42CC0F1CFE39BA1C64B976A2BE9E5

[advice]
    pushNonFastForward = false
    statusHints = false
    commitBeforeMerge = false
    resolveConflict = false
    implicitIdentity = false
    detachedHead = false

[core]
    excludesfile = ~/dotfiles/git/gitignore_global
    autocrlf = false
    editor = nvim
    pager = delta

[clean]
    requireForce = false

[diff]
    tool = nvim

[interactive]
    diffFilter = delta --color-only

[merge]
    tool = nvim
    conflictstyle = diff3

[mergetool]
    keepBackup = false

[mergetool "nvim"]
    cmd = ~/dotfiles/scripts/git-merge.sh $MERGED
    trustExitCode = true

[commit]
    verbose = true

[pull]
    rebase = true

[branch]
    autosetupmerge = always
    autosetuprebase = always

[rebase]
    autosquash = true
    autostash = true

[fetch]
    prune = true

[init]
    templatedir = ~/dotfiles/git/templates
    defaultBranch = main

[rerere]
    enabled = true

[color]
    ui = true

[push]
    default = current

[url "git@github.com:"]
    insteadOf = https://github.com/
