[submodule "lib/bash-git-prompt"]
	path = lib/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "lib/scm_breeze"]
	path = lib/scm_breeze
	url = https://github.com/scmbreeze/scm_breeze.git
[submodule "lib/fzf-marks"]
	path = lib/fzf-marks
	url = git@github.com:lukas-reineke/fzf-marks.git
[submodule "lib/bfs"]
	path = lib/bfs
	url = https://github.com/tavianator/bfs.git
[submodule "lib/vimv"]
	path = lib/vimv
	url = git@github.com:lukas-reineke/vimv.git
