[user]
    name =
    email =

[advice]
    pushNonFastForward = false
    statusHints = false
    commitBeforeMerge = false
    resolveConflict = false
    implicitIdentity = false
    detachedHead = false

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = false
    editor = nvim

[clean]
    requireForce = false

[diff]
    tool = nvim

[merge]
    tool = nvim

[mergetool]
    keepBackup = false

[mergetool "nvim"]
    cmd = ~/dotfiles/scripts/git-merge.sh $MERGED
    trustExitCode = true

[commit]
    verbose = true

