
snippet tbl "Markdown table" Ab
| $1  |   |   |   |   |
|---|---|---|---|---|
|   |   |   |   |   |
endsnippet

snippet --- "Markdown line" Ab
--------------------------------------------------------------------------------
endsnippet
