
snippet '\*+ todo' "todo" Abr
`!p snip.rv = match[0].replace("todo", "TODO")` $1
endsnippet

snippet '\s+\*' "headline" Abr
*$1
endsnippet

snippet '\s+\---' "spacer" Abr
-----$1
endsnippet

snippet chk "[ ]" A
[ ] $1
endsnippet

snippet '\s*src' "BEGIN_SRC" Abr
#+BEGIN_SRC $1
#+END_SRC
endsnippet

snippet tdy "today" A
:today: $1
endsnippet

snippet '\s*title' "title" Abr
#+TITLE: $1
endsnippet
