
snippet todo "todo" b
# @TODO [`git config user.name`] `date +%d-%m-%Y`: $0${VISUAL}
endsnippet

snippet nc "NO_COMMIT" b
# NO_COMMIT
endsnippet

snippet ssp "spacer" Ab
print("${1/./-/g}${VISUAL/./-/g} ┃ `!v expand('%:t')`:`!v line('.')` ┃ ${1/"/\\\"/g}${VISUAL/"/\\\"/g}")
print($1${VISUAL})  # NO_COMMIT
print("${1/./-/g}${VISUAL/./-/g} ┃ `!v expand('%:t')`:`!v line('.')` ┃ ${1/./-/g}${VISUAL/./-/g}")
endsnippet

snippet skp "skip pytest" Ab
@pytest.mark.skip(reason="NO_COMMIT")
endsnippet
