snippet "= "comment line" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => $1
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet " "comment" b
" ================ $1 ========================
endsnippet

snippet lea "leader" i
<Leader>$1
endsnippet

snippet esc "ESC" i
<ESC>$1
endsnippet

snippet ct "Ctrl" i
<C-$1>
endsnippet

snippet cr "CR" i
<CR>$1
endsnippet

snippet nn "nnoremap" b
nnoremap $1
endsnippet

